@use 'utilities' as *;

.c-event {
    @include position(relative,5);
    background:$light;
    padding-bottom:15rem;

    &_header {
        grid-column: span 12;
        margin:0 -10px;

        @media (min-width:$screen-lg) {
            grid-column: 2 / span 10;
            margin:0;
        }

        @media (min-width:$screen-xl) {
            grid-column: 3 / span 8;
        }

        img {
            height:auto;
            width:100%;
            border-radius:10px;
            margin-top:-20vw; 
            border:solid 2px $light;

            @media (min-width:$screen-md) {
                margin-top:-10vw;
            }
        }
    }

    &_date {
        @extend %u-title--small;
        margin-top:30px;
        grid-column: span 12;
        color:$secondary;

        @media (min-width:$screen-md) {
            margin-top:6rem;
        }
        
        @media (min-width:$screen-lg) {
            grid-column: 2 / span 10;
        }
        
        @media (min-width:$screen-xl) {
            grid-column: 3 / span 8;
        }
    }

    &_title {
        @extend %u-title--medium;
        grid-column: span 12;
        margin-top: 15px;

        @media (min-width:$screen-lg) {
            grid-column: 2 / span 10;
        }

        @media (min-width:$screen-xl) {
            grid-column: 3 / span 8;
        }
    }
    
    &_desc {
        @extend %u-title--medium;
        grid-column: span 12;
        margin-top: 30px;

        a {
            text-decoration:underline;
        }

        @media (min-width:$screen-md) {
            margin-top:6rem;
        }

        @media (min-width:$screen-lg) {
            grid-column: 2 / span 10;
        }

        @media (min-width:$screen-xl) {
            grid-column: 3 / span 8;
        }
    }

    // ***** Social 
    
    &_social {
        grid-column: 2 / span 10;
        margin-top:60px;
        border-top:solid 1px rgba($dark,.25);
        border-bottom:solid 1px rgba($dark,.25);
        padding:30px 0;
        text-align:center;

        @media (min-width:$screen-xl) {
            grid-column: 3 / span 8;
        }
        
        &_text {
            margin-bottom: 10px;
            color:$dark;
            text-align:center;
        }
        
        &_links {
            text-align:center;

            &:hover {
                .c-event_social_link {
                    opacity:.5;

                    &:hover {
                        opacity:1;
                    }
                }
            }
        }
        
        &_link {
            &+& {
                margin-left:15px;
            }
        }
        
        svg {
            @include svg($dark);
            @include icon(24px);
        }
    }

    &_back {
        grid-column: span 12;
        text-align:center;
        margin-top: 60px;

        svg {
            transform:rotate(180deg);
        }
    }
}