@use 'utilities' as *;

.c-footer {

    @include position(relative,5);
    background:$dark;
    padding:70px 0;

    @media (min-width:$screen-sm) {
        padding:0;
    }
    

    &_coords {
        grid-column: span 12;

        @media (min-width:$screen-sm) {
            grid-column: span 4;
            margin:12rem 0 8rem;
        }

        &_text {
            margin:60px 0;
            color:$light;
            text-align: center;

            @media (min-width:$screen-sm) {
                margin:75px 0;
                text-align:left;
            }
        }
    }

    &_logo {
        text-align:center;

        svg {
            @include svg($light);
            width:270px;
        }

        @media (min-width:$screen-sm) {
            text-align: left;

            svg {
                width:27rem;
            }
        }
    }

    &_social {
        text-align:center;

        @media (min-width:$screen-sm) {
            text-align: left;
        }

        svg {
            @include svg($light);
            @include icon(36px);

            &:hover {
                opacity:.6;
            }
        }
    }

    &_text {
        grid-column: span 12;
        margin-top:60px;

        @media (min-width:$screen-sm) {
            margin:12rem 0 8rem;
            grid-column: 6 / span 6;
            align-self:stretch;
            @include flex(flex,flex-start,flex-start,column);
        }

        @media (min-width:$screen-lg) {
            grid-column: 6 / span 5;
        }

        @media (min-width:$screen-xl) {
            grid-column: 6 / span 4;
        }

        &_title {
            @extend %u-title--medium;
            color:$light;
            text-align:center;

            @media (min-width:$screen-sm) {
                text-align:left;
            }
        }

        &_text {
            margin:40px 0;
            text-align:center;
            color:$light;

            @media (min-width:$screen-sm) {
                text-align:left;
                margin-top:auto;
            }
        }

        &_button {
            text-align:center;

            @media (min-width:$screen-sm) {
                text-align:left;
                margin-top:auto;
            }
        }
    }

    &_mentions {
        grid-column: span 12;
        border-top:solid 1px $light;
        margin-top:50px;
        color:$light;
        padding-top:50px;
        @include flex(flex,center,center,column);
        gap:15px;

        a:hover {
            opacity:.6;
        }

        @media (min-width:$screen-sm) {
            flex-direction:row;
            justify-content: space-between;
            gap:0;
            padding:30px 0;
        }

        @media (min-width:$screen-lg) {
            font-size:18px;
        }
    }
}
