@use 'utilities' as *;

.c-header {
    
    // ***** Design
    
    @include position(relative,1);
    overflow:hidden;
    height:100vh;
    background: $dark;

    &_background {
        @include position(fixed,1,0,0,0,0);
        @include flex(flex,center,center);
        overflow:hidden;

        img {
            height:100%;
            width:auto;
            position:relative;

            @media (min-width:$screen-md) {
                width:100%;
                object-fit: cover;
            }
        }

        &:after {
            content:'';
            display:block;
            @include position(absolute,1,0,0,0,0);
            background:rgba($dark,.4);
            mix-blend-mode: multiply;
        }
    }

    .grid {
        height:100vh;
        align-items:center;
    }

    &_content {
        grid-column: span 12;

        @media (min-width:$screen-lg) {
            margin-top:6.5rem;
            grid-column: 4 / span 6;
        }

        @media (min-width:$screen-xl) {
            padding:0 5%;
        }
    }

    &_title {
        
        @extend %u-title--big;
        color:$light;
        margin-bottom:6.5rem;

        &_sub {
            @extend %u-title--big--sub;
        }
    }

    &_scroll {
        text-align:center;
        position:relative;
        top:20vh;

        @media (min-width:$screen-lg) {
            top:0;
        }

        svg {
            position:relative; 
            @include svg($light);
            @include icon(45px);
            transform: rotate(90deg);
            top:0;
            animation:bounce 1.5s infinite;

            &:hover {
                opacity:.5;
            }
        }
    }

    // ***** Modifiers (Hero)

    &--hero {
        @include position(relative,1);
        overflow:hidden;
        height:auto;

        .grid {
            height:65vh;
            align-items:center;
        }

        .c-header_title {
            margin-bottom:0;
            margin-top:6rem;
        }
    }
}

.home {
    .c-header_background img {
        @media (max-width:$screen-sm) {
            left:60%;
        }
    }
}