@use 'utilities' as *;

.c-icons {
    @include position(relative,5);
    background: $light;
    
    &_wrapper {
        grid-column: span 12;
        background:$dark;
        margin:0 -10px;
        padding:11rem 0;
        border-radius: 10px;
        @include flex(flex,center,center,column);

        @media (min-width:$screen-sm) {
            flex-direction:row;
            align-items:flex-start;
        }

        @media (min-width:$screen-lg) {
            padding:10rem 30px;
        }

        @media (min-width:$screen-xl) {
            padding:10rem 5rem;
        }
    }

    &_item {

        @media (min-width:$screen-sm) {
            width:45%;
            margin-bottom:60px;

            &:nth-child(5) {
                margin-bottom: 0;
            }
        }

        @media (min-width:$screen-md) {
            width:30%;
            margin-bottom:60px;

            &:nth-child(4),
            &:nth-child(5) {
                margin-bottom: 0;
            }
        }

        @media (min-width:$screen-lg) {
            width:20%;
            margin-bottom:0px;

            &:nth-child(4),
            &:nth-child(5) {
                margin-bottom: 0;
            }
        }

        p {
            text-align:center;

            &+p {
                margin-top:30px;

                @media (min-width:$screen-lg) {
                    margin-top: 6rem;
                }
            }
        }

        &+& {
            margin-top:80px;

            @media (min-width:$screen-sm) {
                margin-top: 0;
            }
        }
        svg {
            @include svg($secondary);
            @include icon(80px);
        }

        strong {
            text-transform: uppercase;
            color:$secondary;
            font-size:18px;

            @media (min-width:$screen-lg) {
                font-size:16px;
            }

            @media (min-width:$screen-xl) {
                font-size:20px;
            }
        }
    }
}