@use 'utilities' as *;

.c-image {
    height:100vh;
    @include position(relative,6);

    &_wrapper {
        overflow:hidden;
        width:100%;
        height:100%;
    }

    img {
        width:100%;
        height:125%;
        object-fit:cover;
    }

    svg {
        width:40rem;
        @include svg($light);
        @include position(absolute,2,auto,auto,-5rem,25rem);
    }
}