@use 'core' as *;

// ***** Buttons design

.u-button {
    
    @include flex(inline-flex,center,center);
    padding:0 20px;
    min-width:130px;
    height:47px;
    font-size:14px;
    @extend %font;
    position:relative;
    color:$white;
    background:$primary;
    border-radius: 25px;
    gap:15px;

    svg {
        @include icon(18px);
        @include svg($white);
    }

    &--round {
        @extend .u-button;
        width:50px;
        height:50px;
        min-width:50px;
        padding:0;
        background:none;
        position:relative;
        gap:0;

        &:before {
            content:'';
            display:block;
            @include position(absolute,0,0,0,0,0);
            @include transi();
            border-radius:50%;
            background:$primary;
        }

        svg {
            @include icon(20px);
            @include position(relative,10);
            margin:0;
        }

        @media (min-width:$screen-sm) {
            width:60px;
            min-width:60px;
            height:60px;

            svg {
                @include icon(24px);
            }
        }
    }

    &--border {
        @extend .u-button;
        border-radius:10px;
        border:solid 1px;
        background:none;
        font-size:18px;
        height:7rem;
        min-height:45px;
        padding:0 30px;

        &.race {
            color:$primary;
        }

        &.qualif {
            color:$secondary;
        }
    }
}

a.u-button,
button.u-button {

    &:hover {
        background:$secondary;
    }

    &--round:hover {
        background:none;
        &:before {
            transform: scale(.9);
        }
    }

    &--border:hover {
        &.race {
            background:$primary;
            border-color:$primary;
            color:$white;
        }

        &.qualif {
            background:$secondary;
            border-color:$secondary;
            color:$white;
        }
    }
}