@use 'core' as *;

// ***** Buttons design

.u-button {
    
    @include flex(inline-flex,center,space-between);
    padding:0 25px;
    min-width:140px;
    height:45px;
    font-size:14px;
    @extend %font-bold;
    position:relative;
    color:$dark;
    border-radius: 30px;
    text-transform: uppercase;
    border:solid 1px;

    svg {
        @include icon(18px);
        @include svg($dark);
        margin-right:15px;
    }

    @media (min-width:$screen-lg) {
        height:60px;
        font-size:22px;
    }

    @media (min-width:$screen-xl) {
        height:70px;
        font-size:25px;
    }

    &--small {
        @extend .u-button;

        height:45px;
        font-size:15px;
        justify-content: center;

        @media (min-width:$screen-lg) {
            height:55px;
            font-size:18px;
        }
    }
}

a.u-button,
button.u-button {

    &:hover {
        background:$dark;
        color:$light;

        svg {
            @include svg($light);
            margin-right:0;
        }
    }

    &--round:hover {
        background:none;
        &:before {
            transform: scale(.9);
        }
    }

    &--border:hover {
        &.race {
            background:$dark;
            border-color:$dark;
            color:$light;
        }

        &.qualif {
            background:$light;
            border-color:$light;
            color:$light;
        }
    }
}