@use 'core' as *;

// ***** Buttons design

.u-button {
    
    @include flex(inline-flex,center,space-between);
    padding:0 30px;
    min-width:140px;
    height:50px;
    font-size:15px;
    @extend %font-bold;
    position:relative;
    color:$dark;
    border-radius: 50px;
    text-transform: uppercase;
    border:solid 1px;

    svg {
        @include icon(18px);
        @include svg($dark);
        margin-right:15px;
    }

    @media (min-width:$screen-lg) {
        height:60px;
        font-size:18px;
    }

    @media (min-width:$screen-xl) {
        height:70px;
        font-size:24px;
    }

    &--light {
        @extend .u-button;
        color:$light;
    }

    &--small {
        @extend .u-button;

        height:45px;
        font-size:15px;
        justify-content: center;

        @media (min-width:$screen-lg) {
            height:55px;
            font-size:18px;
        }
    }
}

a.u-button,
button.u-button {

    &:hover {
        background:$dark;
        color:$light;
        border-color:$dark;

        svg {
            @include svg($light);
            margin-right:0;
        }
    }

    &--light:hover {
        background:$light;
        color:$dark;

        svg {
            @include svg($dark);
        }
    }
}