@use 'core' as *;

// ***** Titres

%u-title {
    
    margin:0;
    line-height:1.35;
    text-align:left;
    @extend %font-alt-bold;
    
    
    // ***** Modifiers
    
    &--big {
        @extend %u-title;
        font-size:5rem;
        text-align:center;

        &--sub {
            @extend %font;
            display:block;
            text-align:center;
            margin-top: 4rem;
            padding:0 5%;
            @include fluid-text(16px,24px);
        }
    }

    &--medium {
        @extend %u-title;
        @include fluid-text(25px,40px);
    }

    &--small {
        @extend %u-title;
        font-weight:bold;
        line-height:1.2;
        text-transform: uppercase;
        @include fluid-text(16px,20px);
    }
}