// ***** Screen Size Variables

$screen-xl:    1620px;
$screen-lg:    1220px;
$screen-md:    1000px;
$screen-sm:    760px;
$screen-xs:    480px;

// ***** Fonts

$font         : 'Kumbh';
$font-alt     : 'Termina';

// ***** Colors

$dark           : #441C14;
$light          : #FDECE5;
$black          : #000;
$white          : #fff;