// ***** Screen Size Variables

$screen-xl:    1620px;
$screen-lg:    1220px;
$screen-md:    1000px;
$screen-sm:    760px;
$screen-xs:    480px;

// ***** Fonts

$font         : 'Poppins';

// ***** Colors

$white          : #fff;
$black          : #000000;
$primary        : #E13757;
$secondary      : #089A7A;
$tertiary       : #2E0A10;
$dark           : #09251F;
$black          : #000000;
$light          : #E8E8E8;