@use 'utilities' as *;

.p-header {
    
    // ***** Design
    
    @include position(relative,1);
    overflow:hidden;
    height:100vh;
    background:$dark;

    &_background {
        @include position(fixed,-1,0,0,0,0);

        img {
            width:100%;
            height:100%;
            object-fit: cover;
        }

        &:after {
            content:'';
            display:block;
            @include position(absolute,1,0,0,0,0);
            background:rgba($black,.15);
        }
    }

    &_title {
        grid-column: span 12;
        @extend %u-title--medium;
        margin-top:20px;
        @include position(fixed,1);
        padding-right:30px;
        line-height:1.15;
        color:$white;

        @media (min-width:$screen-sm) {
            margin-top:4rem;
        }

        &_sub {
            color:$primary;
        }

        &:before {
            content:'';
            display:block;
            width:1.5rem;
            height:1.5rem;
            background:$primary;
            border-radius:50%;
            @include position(absolute,1,1.6rem,auto,auto,-3.6rem);
            animation: bounce 2.5s ease-in-out infinite;

            @media (min-width:$screen-md) {
                top:1.4rem;
            }

            @media (min-width:$screen-lg) {
                top:1.2rem;
            }
        }
    }

    // ***** Alternative Version (small header)

    &--hero {
        @include position(relative,1);
        background:$dark;
        height:50vh;
    }

    // ***** Colors Modifiers

    &--primary,
    &--secondary,
    &--light {
        @extend .p-header;
    }

    &--secondary {
        .p-header {
            &_mask,
            &_mask_wrapper {
                &:after,
                &:before {
                    background:$secondary;
                }

                svg {
                    @include svg($secondary);
                }
            }

            &_title {
                color:$white;
            }

            &_sigle,
            &_logotype {
                svg {
                    @include svg($primary);
                }
            }
        }
    }

    &--primary {
        .p-header {
            &_mask,
            &_mask_wrapper {
                &:after,
                &:before {
                    background:$primary;
                }

                svg {
                    @include svg($primary);
                }
            }

            &_title {
                color:$secondary;
            }

            &_sigle,
            &_logotype {
                svg {
                    @include svg($white);
                }
            }
        }
    }

    &--light {
        .p-header {
            &_mask,
            &_mask_wrapper {
                &:after,
                &:before {
                    background:$white;
                }

                svg {
                    @include svg($white);
                }
            }

            &_title {
                color:$secondary;
            }

            &_sigle,
            &_logotype {
                svg {
                    @include svg($primary);
                }
            }
        }
    }
}