@use 'utilities' as *;

.p-nav {
    
    // ***** Navbar

    &_navbar {
        @include position(fixed,100,auto,auto,15px,15px);
        @include flex(flex,center,flex-start);
        gap: 24px;
        height:56px;
        padding:0 3px 0 20px;

        @media (min-width:$screen-sm) {
            height:66px;
        }
        
        @media (min-width:$screen-lg) {
            left:3rem;
            bottom:3rem;
            padding:0 9px 0 20px;
            gap:25px;
        }

        &:before {
            content:'';
            display:block;
            @include position(absolute,100,0,0,0,0);
            background:rgba($white,.4);
            backdrop-filter: blur(6px);
            border-radius:50px;
        }
    }
    
    &_logo {
        svg {
            height:40px;
            width:auto;
            @include position(relative,105);
            @include transi();

            &.typo {
                height:0;
                opacity:0;
            }

            @media (min-width:$screen-lg) {
                height:40px;

                &.typo {
                    opacity:1;
                    height:30px;
                    margin-left: 15px;
                }
            }

            @media (min-width:$screen-xl) {
                height:45px;

                &.typo {
                    height:37px;
                }
            }
        }
    }
    
    // ***** Overlay 
    
    &_overlay {
        @include position(fixed,90,0,0,auto,auto);
        @include flex(flex,flex-end,space-between,column);
        background:$dark;
        overflow:hidden;
        width:0;
        height:100vh;
        padding:0px;
        @include transi(.4s, ease-out, .5s);

        @media (min-width:$screen-lg) {
            position:relative;
            background:none;
            width:auto;
            flex-direction:row;
            height:100%;
            z-index:105;
            @include flex(flex,center,center);
        }
    }
    
    // ***** Menu 
    
    &_menu {
        
        @include flex(flex,flex-start,flex-start,column);
        padding:30px;
        gap:30px;
        width:100%;

        @media (min-width:$screen-sm) {
            padding:6.5rem;
        }        

        @media (min-width:$screen-md) {
            padding:30px;
            gap:15px;
        }          

        @media (min-width:$screen-lg) {
            flex-direction: row;
            flex-wrap:nowrap;
            align-items:center;
            @include position(relative,100);
            padding:0;
            gap:0px;
        }           

        @media (min-width:$screen-xl) {
            gap:15px;
        }     

        &_item {
            color:$secondary;
            font-size:24px;
            @extend %font;
            @include transi(.25s);
            opacity:0;
            width:100%;
            transform: translateY(100%);
            overflow:hidden;

            a:hover {
                color:$white;
            }

            @media (min-width:$screen-sm) {
                font-size:30px;
            }

            @media (min-width:$screen-lg) {
                font-size:14px;
                transform: none;
                opacity:1;
                width:auto;
                height:48px;
                color:$dark;
                padding:0;
                border-radius:30px;
                @include flex(inline-flex,center,center);

                a {
                    @include flex(inline-flex,center,center);
                    padding:0 16px;
                    height:100%;
                }

                &:hover,
                &.active {
                    a {
                        background:$primary;
                    color:$white;
                    }
                    
                }
            }

            @media (min-width:$screen-xl) {
                a {
                    padding:0 30px;
                }
            }
        }
    }

    &_float {
        @include position(fixed,100,auto,15px,18px);

        @media (min-width:$screen-lg) {
            bottom:3rem;
            right:3rem;
        }
    }
    
    // ***** Opening effect 
    
    &.active {

        .p-nav_navbar {
            z-index:120;
        }

        .p-nav_overlay {
            width:100%;
            transition-delay:0s;
        }

        .p-nav_float {
            transform: translateX(150%);

            @media (min-width:$screen-sm) {
                transform: none;
            }
        }

        .p-nav_logo {
            svg {

                &.typo {
                    height:33px;
                    opacity:1;
                    margin-left:15px;
                }
            }
        }

        .p-nav_menu {
            li {
                opacity:1;
                transform: none;

                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        transition-delay:.25s + $i*.075s;
                    }
                }
            }
        }
    }
    
    // ***** Sticky
    
    &.sticky .p-nav_navbar:not(:hover) {
        @media (min-width:$screen-lg) {
            
            gap:10px;

            .p-nav_logo {
                svg.typo {
                    height:0;
                    opacity:0;
                    margin-left:0;
                }
            }

            .p-nav_menu_item:not(.active) {
                max-width:0;
                height:0;
                opacity:1;
            }

            
        }

        @media (min-width:$screen-xl) {

            .p-nav_menu {
                gap:0px;
            }
            
        }
        
    }
        
}
